

<table class="table table-striped">
  <thead>
    <th>Nombre</th>
    <th>Numero</th>
    <th>Msg Nr</th>
    <th>Conversacion Nr</th>
    <th>Ultimo Mensaje</th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.number %></td>
      <td><%= user.message_nr %></td>
      <td><%= user.conversation_nr %></td>
      <td><%= user.last_message_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

